*{

    margin: 0px;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #d9d0ee;
}

.contenedor{
    background: #11b442;
    max-width: 1000px;
    margin:20px auto;
    overflow: hidden;
    
}

header{

    background: #b16969;
    width: 100%;
}

 header nav a{

    text-decoration:none;
    width: 100%;
    display: inline-block;
    padding:20px;
    width: 200px;
    color:#000;
    font-size:1.2em;
    text-align: center;
 }
header nav a:hover{

    background: #11b442;
}

main{
    background: #ffffff;
    width: 75%;
    float: left;

}
.imagen img{

    width:100%;
    
}

article h2{

color:#da0f0f;
font-size: 2em;
margin-top: 10px;
margin-bottom: 20px;
padding-left: 15px;
}

article p{
    padding: 15px;
    font-size: 1.2em;
    line-height: 30px;
    text-align: justify;
}

aside{

    background:#11b442;
    width: 25%;
    float: left;
    line-height: 25px;
}

.aside1 {

    padding: 20px;
    font-size: 1.2em;
    text-align: justify;
}

.enlaces li{

    list-style: none;
    padding: 15px;
}

.enlaces li a {

    text-decoration: none;
    padding: 15px;
    color: #000;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.enlaces li a:hover{

    background: #b16969;
}

footer{
    background: #b16969;
    width: 100%;
    float: left;
    font-size: 1.3em;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width:700px)
{
    body{
        font-size:14px;
        background:rgb(184, 16, 16);
    }

    main{
        width: 100%;
    }

    aside{
        width: 100%;
    }
}

@media screen and (max-width:350px) {

    body{
        font-size:12px ;
        background: #0f9241;
        
    }

    menu{
        
    }

    aside{
        display: none;
       /* overflow: hidden;*/
    }
    
}
    